<div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="background-color: rgb(212, 203, 194) !important;">
            <div class="modal-header">
                <h5 class="modal-title">Carrito de compras</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Nombre</th>
                                <th scope="col">Precio</th>
                                <th scope="col">Cantidad</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if carrito %} {% for key, value in carrito.items %}
                            <tr>
                                <td>{{value.nombre}}</td>
                                <td>{{value.acumulado}}</td>
                                <td>
                                    <div class="row">
                                        <div class=" offset-md-2 col-md-3">
                                            <form enctype="multipart/form-data" method="post" action="Add">
                                                {% csrf_token %}
                                                <input style="display:none" id="id" name="id" value="{{value.producto_id}}"></input>
                                                <button type="submit" class="btn btn-secondary botones">+</button>
                                            </form>
                                        </div>
                                        <div class="col-md-2">
                                            {{value.cantidad}}
                                        </div>
                                        <div class="col-md-3">
                                            <form enctype="multipart/form-data" method="post" action="Sub">
                                                {% csrf_token %}
                                                <input style="display:none" id="id" name="id" value="{{value.producto_id}}"></input>
                                                <button type="submit" class="btn btn-secondary botones">-</button>
                                            </form>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %} {% else %}
                            <tr>
                                <td colspan="3">
                                    <div class="alert alert-danger text-center"> Sin Productos</div>
                                </td>
                            </tr>
                            {% endif %}
                            <tr>
                                <th scope="row">Total:</th>
                                <td colspan="2">$ {{total_carrito}}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
            <div class="modal-footer">
                {%if carrito.items%}
                <a type="button" href="{% url 'CLS' %}" class="btn btn-primary botones">Vaciar</a>
                <a type="button" href="{% url 'comprarCarrito' %}" class="btn btn-primary botones">Comprar</a> {%endif%} {%if correo == 'null'%}
                <a type="button" href="{% url 'registro' %}" class="btn btn-primary botones">Registrate para comprar</a> {%endif%}
            </div>
        </div>
    </div>
</div>