{% extends 'base.html' %} {%block titulo%}Productos{%endblock%} {%block titulo%} Gestion Productos{%endblock%}{% block contenido%}

<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2>Edición de Producto</h2>
        <div class="card">
            <div class="card-body">
                <form action="/editarProducto/" method="POST">{% csrf_token %}
                    <div class="form-group">
                        <input type="text" id="textDuenio" name="txtduenio" class="form-control" placeholder="Dueño"
                            maxlength="50" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtCodigo" name="txtCodigo" class="form-control" placeholder="Código"
                            minlength="6" maxlength="6" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtNombre" name="txtNombre" class="form-control" placeholder="Nombre"
                            maxlength="50" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtValor" name="txtValor" class="form-control" placeholder="Precio"
                            min="1">
                    </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}