{%extends 'base.html'%}{%block titulo%} Editar producto {%endblock%} {%block contenido%} {%for mensaje in messages%}
<div class="alert alert-danger text-center col-md-8 mx-auto" role="alert">
    {{mensaje}}
</div>
{% endfor %}
<div class="card">
    <form enctype="multipart/form-data" method="post" action="guardarProducto">
        {% csrf_token %}
        <div class="card-title">
            <div class="row" style="margin-top: 2%;">
                <div class="col-md-4 mx-auto">
                    {%if producto%}
                    <input type="text" id="nombre" name="nombre" autocomplete="off" class="form-control inputs" value="{{producto.nombre}}" placeholder="Ingrese el nombre" /> {%else%}
                    <input type="text" id="nombre" name="nombre" autocomplete="off" class="form-control inputs" placeholder="Ingrese el nombre" /> {%endif%}
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-internos text-center" style="margin-top: 1% !important;margin-left: 5% !important;padding:5%">
                    {%if producto%}
                    <img src="imagenes/{{ producto.imagen }}" height="300px" width="300px" id="imagen" name="imagen" style="padding:5%"> {%else%}
                    <img src="static/imagenes/crear_producto.png" height="300px" width="300px" id="imagen" name="imagen" style="padding:5%">
                    <input class="form-control" name="foto" id="foto" accept=".jpg,.png,.jepg" type="file" id="formFile"> {%endif%}
                </div>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card card-internos text-center" style="font-size: 30px;">
                            <div class="row">
                                <div class="col-md-10 mx-auto">
                                    <textarea type="text" rows="11" id="descripcion" name="descripcion" class="form-control select" aria-label="With textarea" placeholder="Ingrese una descripción detallada">{{producto.descripcion}}</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card card-internos text-center">
                            <div class="row" style="margin-top: 5%">
                                <div class="col-md-10 mx-auto">
                                    <div class="card card-informacion" style="padding: 3%;">
                                        <div class="row">
                                            <div class="col-md-4 my-auto">
                                                Tueste:
                                            </div>
                                            <div class="col-md-8">
                                                <select class="form-select select" id="tueste" name="tueste" aria-label="Default select example">
                                                {%if producto == 0%}
                                                <option value="null" selected>Seleccione un tueste</option>
                                                {%endif%}
                                                {%for tueste in tuestes%}
                                                    {%if producto.tueste == tueste%}
                                                    <option value="{{tueste}}" selected>{{tueste}}</option>
                                                    {%else%}
                                                    <option value="{{tueste}}">{{tueste}}</option>
                                                    {%endif%}
                                                {%endfor%}
                                            </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-10 mx-auto">
                                    <div class="card card-informacion" style="padding: 3%;">
                                        <div class="row">
                                            <div class="col-md-4 my-auto" style="font-size: 15px;">
                                                Beneficio:
                                            </div>
                                            <div class="col-md-8">
                                                <select class="form-select select" id="beneficio" name="beneficio" aria-label="Default select example">
                                                    {%if producto == 0%}
                                                <option value="null" selected>Seleccione un beneficio</option>
                                                {%endif%}
                                                {%for beneficio in beneficios%}
                                                    {%if producto.beneficio == beneficio%}
                                                        <option value="{{beneficio}}" selected>{{beneficio}}</option>
                                                    {%else%}
                                                        <option value="{{beneficio}}">{{beneficio}}</option>
                                                    {%endif%}
                                                {%endfor%}
                                            </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-10 mx-auto" style="margin-bottom: 5%;">
                                    <div class="card card-informacion" style="padding: 3%;">
                                        <div class="row">
                                            <div class="col-md-4 my-auto">
                                                Variedad:
                                            </div>
                                            <div class="col-md-8">
                                                <select class="form-select select" id="variedad" name="variedad" aria-label="Default select example">
                                                {%if producto == 0%}
                                                <option value="null" selected>Seleccione una variedad</option>
                                                {%endif%}
                                                {%for variedad in variedades%}
                                                    {%if producto.variedad == variedad%}
                                                    <option value="{{variedad}}" selected>{{variedad}}</option>
                                                    {%else%}
                                                    <option value="{{variedad}}">{{variedad}}</option>
                                                    {%endif%}
                                                {%endfor%}

                                            </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br> {%if producto%}
                            <div class="row">
                                <div class="col-md-10 mx-auto" style="margin-bottom: 5%;">
                                    <div class="card card-informacion" style="padding: 3%;">
                                        <div class="row">
                                            <div class="col-md-4 my-auto" style="font-size: 13px;">
                                                Puntuación:
                                            </div>
                                            <div class="col-md-8">
                                                {%if producto.valoracion == 0%} Sin valoración {%else%} {{producto.valoracion}} {%endif%}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {%endif%}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card card-internos text-center" style="font-size: 20px;">
                            <div class="col-md-10 mx-auto">
                                <select class="form-select select" id="presentacion" name="presentacion" aria-label="Default select example">
                                {%for presentacion in presentaciones%}
                                    {%if presentacion == producto.presentacion%}
                                    <option value="{{presentacion}}" selected>{{presentacion}}</option>
                                    {%else%}
                                    <option value="{{presentacion}}">{{presentacion}}</option>
                                    {%endif%}
                                {%endfor%}
                              </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card card-internos text-center" style="font-size: 20px;">
                            <div class="col-md-10 mx-auto">
                                <select class="form-select select" id="sabor" name="sabor" aria-label="Default select example">
                                {%for sabor in sabores%}
                                    {%if sabor == producto.sabor%}
                                        <option value="{{sabor}}" selected>{{sabor}}</option>
                                    {%else%}
                                        <option value="{{sabor}}">{{sabor}}</option>
                                    {%endif%}
                                {%endfor%}
                              </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card card-internos">
            <div class="row">
                <div class="col-md-4">
                    <div class="col-md-8 mx-auto">
                        {%if producto%}
                        <input type="number" id="stock" name="stock" autocomplete="off" value="{{producto.cantidad}}" class="form-control inputs inputs-guardar" placeholder="Cantidad" /> {%else%}
                        <input type="number" id="stock" name="stock" autocomplete="off" class="form-control inputs inputs-guardar" placeholder="Cantidad" /> {%endif%}

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-md-8 mx-auto my-auto">
                        {%if producto%}
                        <input type="number" id="valor" name="valor" autocomplete="off" value={{producto.valor}} class="form-control inputs inputs-guardar" placeholder="Ingrese el valor" /> {%else%}
                        <input type="number" id="valor" name="valor" autocomplete="off" class="form-control inputs inputs-guardar" placeholder="Ingrese el valor" /> {%endif%}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-md-4 mx-auto">
                        <button type="submit" class="btn btn-primary botones" style="margin-top: 5%; border-radius: 10px;">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</form>
</div>

<style>
    .imagen-referencia {
        opacity: 50% !important;
        padding: 5%;
    }
    
    .select {
        margin-top: 3%;
        margin-bottom: 3%;
        background-color: rgb(212, 203, 194);
        border-color: rgb(212, 203, 194);
    }
    
    .inputs-guardar {
        margin-top: 5% !important;
    }
    
    .card-informacion {
        background-color: rgb(74, 31, 19) !important;
        color: white;
    }
    
    .botonesCompra {
        background-color: rgb(212, 203, 194) !important;
        border-color: black !important;
        border-radius: 10px;
        color: black;
    }
    
    .cantidad {
        position: relative;
        left: 15%;
    }
    
    .card {
        margin-top: 1% !important;
    }
    
    .botones {
        margin: 5% !important;
    }
    
    .card-cantidad {
        background-color: rgb(74, 31, 19) !important;
    }
    
    .texto {
        color: white;
    }
</style>
{%endblock%}