{%extends 'base.html'%} {%block titulo%} Nuestras recetas{%endblock%} {%block contenido%}
<div class="card" style="margin-top: 5%;">
    <div class="card-title titulo-tarjeta">
        <h3>Conoce nuestras recetas</h3>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card card-internos">
                <div class="card-title titulo-tarjeta">
                    <h4 class="titulo-receta text-center">Pai de tarta</h4>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        Foto
                    </div>
                    <div class="col-md-8 text-center">
                        Descripcion
                    </div>
                </div>
                <div class="row">
                    <div class="offset-md-6 col-md-3 text-center">
                        <button type="submit" class="btn btn-primary botones"><strong>Ver detalles</strong></button>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
<style>
    .titulo-receta {
        color: black !important;
    }
</style>
{%endblock%}