{% extends 'base.html' %}
{%block titulo%}Panel de catación{%endblock%}
{% block contenido%}
<div class="card" style="margin-top: 3% !important;">
    <div class="card-title text-center"> <h3 style="color: white;">Panel de catacion</h3></div>
    <div class="row">
        <div class="col-md-9 mx-auto">
            <table class="table" style="background-color: white; border-radius: 20px;">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Dueño</th>
                    <th scope="col">Acción</th>
                  </tr>
                </thead>
                <tbody>
                    {%for producto in pendientes%}
                  <tr>
                    <th scope="row">{{producto.id}}</th>
                    <td>{{producto.nombre}}</td>
                    <td>{{producto.duenio_id}}</td>
                    <td>
                        <form enctype="multipart/form-data" action="catarProducto" method="post">
                            {%csrf_token%}
                            <input type="text" name="id" id="id" style="display:none"value="{{producto.id}}">
                            <button class="btn btn-success botones">Catar</button>
                        </form>
                    </td>
                  </tr>
                  {%endfor%}
                </tbody>
              </table>

        </div>
    </div>
    
    
</div>
{%endblock%}