{% extends 'base.html' %} {%block titulo%} Recuperar contraseña {%endblock%} {%block contenido%}
<div class="imagen-fondo">
    <div class="offset-md-4 col-md-4">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title text-center titulo">Recuperar contraseña</h3>
                <br>
                <h5 class="text-center">Ingrese el código que recibió en el correo electrónico</h5>
                <br>
                <form enctype="multipart/form-data" method="post" action="cambiarContrasena2">
                    {% csrf_token %}
                    <div class="row">
                        <div class="offset-md-2 col-md-8">
                            <input type="text" id="cod" name="cod" class="form-control inputs" placeholder="Código recibido" />
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="offset-md-2 col-md-8">
                            <button type="submit" class="btn btn-primary botones gap-2 d-md-block">Recuperar contraseña</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
<style>
    h5 {
        color: white;
    }
    
    .botones {
        text-align: center !important;
    }
</style>
{%endblock%}