{%extends 'base.html'%} {%block titulo%} Nuestras recetas{%endblock%} {%block contenido%}
<div class="card">
    <div class="card-title text-center">
        <h3 class="titulo-tarjeta" style="font-size: 30px;">Café tradicional</h3>
    </div>
    <div class="row">
        <div class="col-md-4">
            Foto
        </div>
        <div class="col-md-8">
            <div class="card card-internos">
                <div class="row">
                    <div class="col-md-6 text-center">
                        <strong>Ingredientes</strong>
                    </div>
                    <div class="col-md-6 text-center">
                        <strong>Preparación</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .card {
        margin-top: 5% !important;
    }
</style>
{%endblock%}