body {
    background-image: url("https://cdn.pixabay.com/photo/2021/09/17/12/12/coffee-6632524_960_720.jpg");
    opacity: 1;
    background-size: cover;
}

.titulo {
    color: white;
}

.vinculos {
    color: gray;
}

.contenido {
    color: black;
    height: 500px;
    line-height: 200px;
    text-align: center;
    vertical-align: middle;
    opacity: 1 !important;
}

.card {
    margin-top: 30%;
    background-color: rgb(156, 95, 57) !important;
    border-radius: 20px !important;
}

.botones {
    background-color: black !important;
    border-color: black !important;
    color: white;
}

.inputs {
    background-color: rgb(74, 31, 19) !important;
    border-color: rgb(74, 31, 19) !important;
    color: white !important;
}

.inputs-buscador {
    background-color: white !important;
    border-color: white !important;
    color: black !important;
}

.titulo-tarjeta {
    color: white;
    font-size: large;
}
.titulo-tarjeta2 {
    font-size: 30px !important;
    left: 10%;
    margin-top: 5%;
    color: white;
}

.card-internos {
    margin-top: 1% !important;
    background-color: rgb(212, 203, 194) !important;
    margin: 1%;
}

.card-filtros {
    background-color: rgb(74, 31, 19) !important;
    border-color: black !important;
    margin-top: 5% !important;
}

.card-productos {
    margin-top: 0% !important;
    margin-bottom: 5% !important;
    background-color: rgb(212, 203, 194) !important;
}

.fijo {
    position: absolute !important;
}