{%load static%}
<!doctype html>
<html lang="en">

<head>
    <title>{%block titulo%} {%endblock%}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- Bootstrap CSS v5.0.2 -->
    <link rel="stylesheet" href="{% static '/styles.css'%}" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary nav-bar-style">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'index' %}"><img src="static/imagenes/logo-fruitcoffee.png" height="30px" width="30px">Fruit Coffee</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="{% url 'buscar' %}">Buscar productos</a>
                    {% if correo == "null" %}
                    <a class="nav-link" href="{% url 'login' %}">Iniciar sesión</a>
                    <a class="nav-link" href="{% url 'registro' %}">Registrarme</a>
                    {%endif%}
                    {#<a class="nav-link disabled" href="{%url 'nuestrasRecetas'%}">Nuestras recetas</a>#}
                    <a class="nav-link ml-auto" data-bs-toggle="modal" data-bs-target="#modelId">Carrito de compras</a>
                    {% if correo != "null" %}
                    <a class="nav-link" href="{%url 'perfil'%}">Mi perfil</a>
                    {%if rol == "vendedor"%}
                    <a class="nav-link" href="{%url 'misproductos'%}">Gestionar Productos</a>
                    {%endif%}
                    {%if rol == "admin"%}
                    <a class="nav-link" href="{%url 'administracion'%}">Panel de administración</a>
                    {%endif%}
                    {%if rol == "catador"%}
                    <a class="nav-link" href="{%url 'catacion'%}">Panel de catación</a>
                    {%endif%}
                    <a class="nav-link" href="{%url 'close'%}">Cerrar sesión</a>
                    {%endif%}
                    

                </div>
            </div>
        </div>
    </nav>
    
    <script>
        var modelId = document.getElementById('modelId');
        modelId.addEventListener('show.bs.modal', function (event) {
              let button = event.relatedTarget;
              let recipient = button.getAttribute('data-bs-whatever');
        });
    </script>
    
    

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {%include "paginas/carrito.html"%}
            </div>
            <div class="col-md-12">
                {%block contenido%} {%endblock%}
            </div>
        </div>
    </div>

    <style>
        .nav-bar-style {
            background-color: rgb(74, 31, 19) !important;
        }
    </style>
    


    <!-- Bootstrap JavaScript Libraries -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>

</html>